# 5.2 핵심기능

## 5.2.1 재색인

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

pandas 객체의 기막힌 기능 중 하나인 reindex는 새로운 색인에 맞도록 객체를 새로 생성하는 기능이다.  아래 간단한 예제를 살펴보자.

In [2]:
obj = Series([4.5, 7.2, -5.3, 3.6], index = ['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [3]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [4]:
obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

In [5]:
obj3 = Series(['blue', 'purple', 'yellow'], index = [0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [6]:
obj3.reindex(range(6), method = 'ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [7]:
frame = DataFrame(np.arange(9).reshape((3, 3)), index = ['a', 'c', 'd'],
                 columns = ['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [8]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [9]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [10]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [11]:
frame.reindex(index = ['a', 'b', 'c', 'd'], method = 'ffill', columns = states)

ValueError: index must be monotonic increasing or decreasing

In [12]:
frame.loc[['a', 'b', 'c', 'd'], states]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

## 5.2.2 하나의 로우 또는 칼럼 삭제하기

In [13]:
obj = Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [14]:
obj.drop(['d', 'c'])

a    0.0
b    1.0
e    4.0
dtype: float64

In [15]:
data = DataFrame(np.arange(16).reshape((4, 4)),
                index = ['Ohio', 'Colorado', 'Utah', 'New York'],
                columns = ['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [16]:
data.drop(['Colorado', 'Ohio'])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [17]:
data.drop('two', axis = 1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [18]:
data.drop(['two', 'four'], axis = 1)

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

## 5.2.3 색인하기, 선택하기, 거르기

In [19]:
obj = Series(np.arange(4.), index = ['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [20]:
obj['b']

1.0

In [21]:
obj[2:4]

c    2.0
d    3.0
dtype: float64

In [22]:
obj[1]

1.0

In [25]:
obj[['b', 'c', 'd']]

b    1.0
c    2.0
d    3.0
dtype: float64

In [27]:
obj[[1,3]]

b    1.0
d    3.0
dtype: float64

In [28]:
obj[obj < 2]

a    0.0
b    1.0
dtype: float64

## 5.2.4 산술연산과 데이터 정렬

## 5.2.5 함수 적용과 매핑

## 5.2.6 정렬과 순위

## 5.2.7 중복 색인